img {
  display: block;
  max-width: 100%;
  border-radius: 8px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.ignore-img-css {
  display: unset;
  max-width: unset;
  border-radius: unset;
  height: unset;
  box-shadow: unset;
}

.footer {
  position: relative;
  margin-top: 10px; /* negative value of footer height */
  height: 10px;
  clear:both;
  padding-top: 20px;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

@media screen and (max-width: 600px) {
  .single-thumb {
    visibility: hidden;
  }
}

.searchbox {
  margin-top: 0rem;
  position: relative;
  border: 1px solid #666;
  background: white;
  border-radius: 4px;
}
.searchbox label {
  color: #666;
  position: absolute;
  left: 10px;
  top: 3px;
}
.searchbox span {
  color: #666;
  position: absolute;
  right: 10px;
  top: 3px;
  cursor: pointer;
}
.searchbox span:hover {
  color: #666;
}
.searchbox input {
  display: inline-block;
  color: #666;
  width: 100%;
  height: 30px;
  background: transparent;
  border: 0;
  padding: 0 25px 0 30px;
  margin: 0;
  font-weight: 300;
}
.searchbox input::-webkit-input-placeholder {
  color: #666;
}
.searchbox input::-moz-placeholder {
  color: #666;
}
.searchbox input:-moz-placeholder {
  color: #666;
}
.searchbox input:-ms-input-placeholder {
  color: #666;
}

#searchResults {
  text-align: right;
}

input[type=search] {
  width: 150px;
  -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=search]:focus {
  width: 100%;
}