<!DOCTYPE html>
<html lang="en">
<head>
  {{- partial "head.html" . -}}
</head>
<body  class="d-flex flex-column min-vh-100">
  {{- partial "header.html" . -}}
  <div role="main" class="container">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
  <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>
</body>
</html>
