{{ define "main" }}
<div class="row mt-3">
  <div class="col-md-12">
    <h2 class="text-center">{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }}{{ end }}</h2>
  </div>
</div>


<div class="row mt-3">
  <div class="col-md-10">
    <div class="row">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}
    
    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}
    {{ $paginator := .Paginate .Site.RegularPages }}
    {{ if .IsHome}}
      {{ range $paginator.Pages }}
        {{ partial "card.html" . }}
      {{ end }}
      </div>
      <div class="row mt-3">
      {{ template "_internal/pagination.html" . }}
    {{ else }}
      {{ range $paginator.Pages.ByDate }}
        {{ partial "card.html" . }}
      {{ end }}
      </div>
      <div class="row mt-3">
      {{ template "_internal/pagination.html" . }}
    {{ end }}
    </div>
  </div>

  {{ partial "recent_posts.html" . }}
  
</div>
{{ end }}
