{{ define "main" }}
<div class="row mt-3">
  <div class="col-md3 single-thumb">
  {{ if .Params.coverYoutube }}
    <img src="/images/youtube.png" class="img-thumbnail" style="width: 70px;">
  {{ else if .Params.CoverVimeo}}
    <img src="/images/vimeo.png" class="img-thumbnail" style="width: 70px;">
  {{ else if .Params.Cover }}
    <img src="{{ .Params.Cover }}" class="img-thumbnail" style="width: 100px;">
  {{ else if  $.Site.Params.NoDefaultCover }}
  {{ else }}
    <img class="card-img-top" alt="Card Image" src="{{ $.Site.Params.defaultCover | default "/images/diary.jpg" }}" style="width: 101px;">
  {{ end }}
  </div>
  <div class="col-md-9">
    <h2>{{ .Title | markdownify }}</h2>
    <h6 class="text-muted">by <a href="{{ (urlize (printf "author/%s/" .Params.Author )) | absLangURL }}">{{ .Params.Author }}</a> | {{ .Date.Format "Mon Jan 2 2006" }}
      {{ if .Params.Tags }} |
        {{ range .Params.Tags }}
        <a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
          #{{- . -}}
        </a>
        {{ end }}
      {{ end }}
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-10">
    {{- with .Content -}}
      {{ . }}
    {{ end }}
    
    {{ partial "post_navigation.html" . }}
    
  </div>

  {{ partial "recent_posts.html" . }}
  
</div>

{{ partial "related_posts.html" . }}

{{ end }}
