{{ define "main" }}
<div class="row mt-3">
  <div class="col-md-12">
    <h2 class="text-center">{{ .Title }}</h2>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-10">
    <div class="row">
    {{ range .Pages.ByDate }}
      {{ partial "card.html" . }}
    {{ end }}
    </div>
  </div>

  {{ partial "recent_posts.html" . }}
  
</div>
{{ end }}
