  {{ if eq $.Site.Params.CardsPerRow 1 }}
  <div class="col-md-12 mt-2 mb-2">
  {{ else if eq $.Site.Params.CardsPerRow 2 }}
  <div class="col-md-6 mt-2 mb-2">
  {{ else }}
  <div class="col-md-4 mt-2 mb-2">
  {{ end }}
    <div class="card">
      {{ if .Params.Cover }}
      <a href="{{ .Permalink }}">
        <img class="card-img-top" loading="lazy" alt="Card Image" src="{{ .Params.Cover }}"> 
      </a>
      {{ else if .Params.CoverVideo }}
      <video class="img-fluid" playsinline autoplay muted loop>
        <source src="{{ .Params.CoverVideo }}" type="videp/mp4">
        </video>
        {{ else if .Params.CoverYoutube }}
        <iframe src="https://www.youtube.com/embed/{{ .Params.CoverYoutube }}" loading="lazy" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{ else if .Params.CoverVimeo }}
        <iframe src="https://player.vimeo.com/video/{{ .Params.CoverVimeo }}" loading="lazy" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        {{ else if $.Site.Params.NoDefaultCover }}
        {{ else }}
        <a href="{{ .Permalink }}">
          <img class="card-img-top" loading="lazy" alt="Card Image" src="{{ $.Site.Params.defaultCover | default "/images/diary.jpg" }}">
        </a>
        {{ end }}
      </a>
      <div class="card-body">
        <a href="{{ .Permalink }}" style="color: #666;">
          <h5 class="card-title text-center">
            {{ .Title | markdownify }}
          </h5>
        </a>
        <small class="card-subtitle mb-2 text-muted">by <a href="{{ (urlize (printf "author/%s/" .Params.Author )) | absLangURL }}">{{ .Params.Author }}</a> | {{ .Date.Format "Mon Jan 2 2006" }}
        </small>
        {{ if .Params.Tags}}
        <p><small class="card-subtitle mb-2 text-muted">
          {{ range $index, $tag := .Params.Tags }}
          <a href="{{ (urlize (printf "tags/%s/" $tag )) | absLangURL }}">
            #{{- $tag -}}
          </a>
          {{ end }}
        </small></p>
        {{ end }}
        <p class="card-text">
          {{ if gt (len .Description) ($.Site.Params.DescriptionLen | default 60 )}}
          <small>{{ slicestr .Description 0 ( $.Site.Params.DescriptionLen | default 60 ) }} ...</small>
          {{ else }}
          <small>{{ .Description }}</small>
          {{ end }}
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><a href="{{ .Permalink }}">Read more...</a></small>
      </div>
    </div>
  </div>
