<!-- <div class="footer sticky-bottom mt-2"> -->
<footer class="mt-auto">
  <div class="container-fullwidth">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
      {{ if $.Site.Copyright }}
      <span class="text-muted">{{ $.Site.Copyright | safeHTML }}</span>
      {{ else }}
      <span class="text-muted">© {{ now.Year }} Powered by <a href="http://gohugo.io" style="color: #666;">Hugo</a> - v{{ .Site.Hugo.Version }}</span>
      {{ end }}
    </nav>
    {{ partial "extended_footer.html" . }}
  </div>
</footer>
