<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: rgba(0,0,0,0.0);">
  <a class="navbar-brand" href="{{ $.Site.BaseURL }}">{{ if $.Site.Params.menuTitle }}{{ $.Site.Params.menuTitle }}{{ else }}{{ $.Site.Title }}{{ end }}
    {{ if $.Site.Params.logo }}
      <img src="{{ $.Site.Params.logo }}" alt="" class="ignore-img-css" width="85px">
    {{ end }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {{ partial "nav.html" . }}
</nav>
