<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
  {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li class="nav-item dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ .Name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{ range .Children }}
          <a class="dropdown-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        </div>
      </li>
      {{ else }}
      <li class="nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
      </link>
      {{ end }}
    {{ end }}
    </ul>
    {{ if $.Site.Params.Search }}
    <!-- Search style sheet-->
    <link href="{{"css/auto-complete.css" | relURL}}" rel="stylesheet">
    <div class="searchbox">
      <label for="search-by"><i class="fas fa-search"></i></label>
      <input data-search-input id="search-by" type="search" placeholder="Search...">
      <span data-search-clear=""><i class="fas fa-times"></i></span>
    </div>
    <script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
    <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
    <script tupe="text/javascript">var baseurl = "{{.Site.BaseURL}}";</script>
    <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button type="submit" class="button btn-light btn-link" style="color: #666;"><i class="fas fa-search"></i></button>
      {{ $assetBusting := not .Site.Params.disableAssetsBusting }}
      <script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
      <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
      <script type="text/javascript" src="{{"js/search.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
    </form> -->
    {{ end }}
</div>
