{{ if or .NextInSection .PrevInSection }}
<div class="row mt-5">
  <div class="col-md-12" style="position:absolute; bottom: 0px; width: 100%;">
    {{ if .PrevInSection }}
    <span>
      <a href="{{ .PrevInSection.Permalink }}">
        <i class="fas fa-angle-double-left"></i>  {{ .PrevInSection.Title }}
      </a>
    </span>
    {{ end }}
    {{ if .NextInSection }}
    <span class="float-right">
      <a href="{{ .NextInSection.Permalink }}">
        {{ .NextInSection.Title }} <i class="fas fa-angle-double-right"></i>
      </a>
    </span>
    {{ end }}
  </div>
</div>
{{ end }}
