<div class="col-md-2 mt-2 border-left">
  <h5>Recent Posts</h5>
  <ul class="list-unstyled">
  {{ range first ($.Site.Params.RecentItemsCount | default 10) $.Site.RegularPages }}
    <li>
      <a href="{{ .Permalink }}" style="color: #666;">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>
