{{ if $.Site.Params.includeRelatedPosts }}
  {{ $related := .Site.RegularPages.Related . | first 3 }}
  {{ with $related }}
  <div class="row mt-3 border-top">
    <div class="col-md-12 mt-2">
    <p><b>Related Posts</b></p>
      <div class="row">
	    {{ range . }}
          {{ partial "card.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
{{ end }}
