{{ define "main" }}
<div class="row mt-3">
  <div class="col-md-12">
    <h2 class="text-center">Page Not Found</h2>
    
    <p>Sorry, this page couldn't be found.</p>
    <p><a href="{{ "/" | relURL }}">Go back to the home page</a>
  </div>
</div>
{{ end }}
