{{ $name := "" }}
{{ $images := slice }}

{{ if .Params }}
  {{ $carousel := newScratch}}
  {{ $name = .Get "name" }}
  {{ $i := index .Page.Params.carousel $name }}
  {{ range $i }}
    {{ $images = $i | append .}}
  {{ end }}
{{ else }}
  {{ $name = "carouselexample" }}
  {{ $i := .Page.Params.carousel }}
  {{ range $i }}
    {{ $images = $i | append .}}
  {{ end }}
{{ end }}

<div id="{{ $name }}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {{ range $index, $image := $images }}
        <li data-target="#{{ $name }}" data-slide-to="{{ $index }}"{{ if eq $index 0 }} class="active"{{ end }}></li>
      {{ end }}
    </ol>
    <div class="carousel-inner">
      {{ range $index, $image := $images}}
      <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
        <img class="d-block w-100" src="{{ $image }}" alt="img{{ $index }}">
      </div>
      {{ end }}
    </div>
    <a class="carousel-control-prev" href="#{{ $name }}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{ $name }}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>