<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
  <iframe loading="lazy" src="https://www.youtube.com/embed/{{ .Get 0 }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" title="youtube video" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
